<h1>Fo-Shizzle</h1>

<p>Enter a sentence and see it magically change</p>

<form action='/answer' method='get'>
    <div class="form-group">
        <label for="sentence">Enter a Sentence</label>
        <input id="sentence" name="sentence" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-info">Submit</button>
</form>
